<div id="mainContainer">
  
  <div id="contentCol">
    <div id="leftColContainer">
    <div id="leftCol">
      <div id="pagelet_welcome_box">
        <div>
          <div class="image_name">
            <%= link_to image_tag("profilePhoto/male.jpeg", :class => "profile_image", :alt => "User's image", :size => "40x40"), root_url, :id => "profile_image" %>
            <div id="change_image_link" class="change_image">Change</div>
          </div>
          <div class="image_name">
            <div class="name_link">
              <%= link_to "#{current_user.first_name} #{current_user.last_name}", root_url %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div id="rightCol">
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    </div>
    <div id="contentArea">
      <h2>Recent Activities:</h2>
      
        <%= render "post" %>
      
    </div>
  </div>
</div>
