$blue_text: #3bbfce;
$brown_text: #77655b;
$gray_text: #8D8F92;
$aqua_text: #4DC5CE;
$green_text: #7e9507;

$aqua_nav: #7FE3EA;
$rust_nav: #EA6206;
$deep_blue_nav: #008fe2;

$gray_border: 1px solid #d7d3d2;

$main_font: 'Varela Round', sans-serif;
$secondary_font: 'Varela Round', sans-serif;