// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin:0;
    padding:0;
    font-size:13px;
   
    #main-body {
        
        width:80%;
        left:10%;
        position:absolute;
        #header {
            background-color:#45315F;
            height:60px;
            img{
                top:15px;
                position:relative;
                vertical-align:middle;
            }
        }
        #content{
           
            #static-content{
                width:68%;
                float:left;
            }
            #dynamic-content{
                float:right;
                width:32%;
                .sign-in-box {
                    background: none repeat scroll 0 0 #F5F5F5;
                    border: 1px solid #E5E5E5;
                    margin: 12px 0 0;
                    padding: 20px 25px 15px;
                    h2 {
                        font-size: 16px;
                        height: 16px;
                        line-height: 17px;
                        margin: 0 0 1.2em;
                        position: relative;
                    }
                }
            }
        }
        .footer-separator{
            color:#E5E5E5;
        }
        #footer {
            text-align:center;
            a{ margin-right:5px;}
        }
    }
}