
body {
    color: #333333;
    direction: ltr;
    font-family: lucida grande,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28;
    text-align: left;
    #mainContainer {
        height:100%;
        #leftColContainer{
            height:100%;clear
            #leftCol{
                min-height:600px;
                display:block;
                float: left;
                padding: 20px 0 0 2px;
                width: 20%;
                word-wrap: break-word;
            }
        }
        #contentCol {
            border-left: 1px solid #9AAFCA;
            margin-left: 21%;
            min-height:600px;
            padding-top:5px;
            border-right: 1px solid #9AAFCA;
            height: 100%;
            min-width: 853px;
            display: table;
            #rightCol{
                border-left:1px solid black;
                float: right;
                padding-right: 0;
                padding-top:40px;
                min-height:600px;
                width: 24%;
                height:100%;
                word-wrap: break-word;
            }
            #contentArea {
                padding-left: 18px;
                padding-right: 25px;
                width: 60%;
                word-wrap: break-word;

               .wrap {
                    border: 0 none;
                    padding: 5px !important;
                    .message-box {
                        border-right: 1px solid #9AAFCA;
                        border-left: 1px solid #9AAFCA;
                        border-top: 1px solid #9AAFCA;
                        padding: 4px;
                        .wall_post {
                            border: 0;
                            overflow:hidden;
                            height:auto;
                           /* width:485px;*/
                        }
                    }
                    .message-box-action {
                        background-color: #F2F2F2;
                        border: 1px solid #9AAFCA;
                        height: 28px;
                        padding: 3px;
                        input[type="submit"] {
                            
                            float: right;
                            width: 65px;
                            background: url('facebookPostButton.png');
                            background-color: #5B74A8;
                            background-repeat: no-repeat;
                            border-color: #29447E #29447E #1A356E;
                            color: #FFFFFF;
                            font-weight: bold;
                            font-size: 12px;
                            vertical-align: middle;
                        }
                    }
                }
                
            }
        }
    }
}


#pagelet_welcome_box{
    height:60px;
    padding:5px;
    float: left;
}

.image_name{
    float:left;
    min-height:50px;
}
.name_link
{
    vertical-align:middle;
    margin-left:10px;
    margin-top:10px;
    
    a{
        color: #566799;
        text-decoration:none;
        font-weight: bold;
    }
    a:visited{
        color: #566799;
    }
}
.profile_image
{
    border:0;
}

.change_image{
    visibility: visible;
    position: relative;
    margin: 0px;
    padding: 0px;
    color: red;
    text-align: center;
    cursor: pointer;
}
.post_comment_child {
    width: 600px;
    min-height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.post_comment{
    font-size: 11px;
    font-weight:normal;
    font-family: lucida grande,tahoma,verdana,arial,sans-serif;
    color: gray;
    display:table-cell;
    border-bottom:1px solid #9AAFCA;
    float:left;
    padding: 1px;

    .comments {
        height: 40px;
        display: table;
        background: #EDEFF4;
        width: 495px;
        margin-top: 7px;
        margin-bottom: 7px;

        .comment-uppertip {
            background: url('pointUpper.png');background-position: 0 0;
            background-repeat: no-repeat;
            display: block;
            height: 5px;
            margin-left: 17px;
            width: 9px; position: relative;
            top: -5px;
        }
        .recieved-comment-box {
            height:auto;
            float: left;
            width: 100%;
            margin-bottom: 1px;
            border-bottom: 2px solid #fff;
            padding-left: 2px;
            padding-right: 4px;
            padding-bottom: 4px;

            .recieved-comment-inner1 {
                height:auto;
                float: left;
                margin-bottom: 1px;
                width: 39px;

                .comment-box-photo {
                    float:left;
                    width: 40px;
                    display: table-cell;
                    margin-right: 1px;
                }
            }
            .recieved-comment-inner2 {
                height:auto;
                float: left;
                margin-bottom: 1px;
                padding-left: 4px;
                padding-right: 4px;
                padding-bottom: 4px;
                width: 302px;

                .comment-box-comment {
                    .comment-paragraph {
                        vertical-align:top;
                        margin-top: 0;

                        .name-link {
                            font-size: 11px;
                            font-weight: bold;
                        }

                    }
                    .comment-body {
                        color:#4B686C;
                    }
                }
            }
        }

        .comment-box-photo {
            float:left;
            width: 40px;
            display: table-cell;
            margin-right: 1px;
            padding: 4px;
        }
        .comment-box-form {
            float:left;
            display: table-cell;
        }
    }

}

.name_link_post {
    vertical-align:middle;
    margin-left:10px;
    float: left;
    width: 537px;
    a{
        text-decoration:none;
        font-weight:bold;
        
    }
    a:visited{
        color:#566799;
    }
     span{
        margin-right:10px;
        a{
            font-weight:normal;
            color:#566799;
        }
    }
.update-status {
    background-image: url("smallicons.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}
}
.received-comment{
    border-bottom:1px solid #D2D9E7;
    margin-bottom:5px;
}


.comment_child{
    width:450px;
    word-wrap: break-word;
    border-bottom:1px solid #D2D9E7;
    height:auto;
}
.comment_name_link{
    width:390px;
}

.post_like{
    border-bottom:1px solid #D2D9E7;
}

#change_image_link{
    z-index:1000;
    top:0px;
    position:relative;
    a{
        text-decoration:none;
     }

}

