
body {
    color: #333333;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28;
    text-align: left;
    #mainContainer {
        height:100%;
        #leftColContainer{
            height:100%;clear
            #leftCol{
                min-height:600px;
                display:block;
                float: left;
                padding: 20px 0 0 2px;
                width: 20%;
                word-wrap: break-word;
            }
        }
        #contentCol {
            border-left: 1px solid #CCCCCC;
            margin-left: 21%;
            min-height:600px;
            padding-top:5px;
            border-right: 1px solid #CCCCCC;
            border-bottom: 1px solid #CCCCCC;
            #rightCol{
                border-left: 1px solid #CCCCCC;
                float: right;
                padding-right: 0;
                padding-top:40px;
                min-height:600px;
                width: 20%;
                word-wrap: break-word;
            }
            #contentArea {
                padding-left: 18px;
                padding-right: 25px;
                width: 60%;
                word-wrap: break-word;
            }
        }
    }
}


#pagelet_welcome_box{
    height:60px;
    padding:5px;
}

.image_name{
    float:left;
    min-height:50px;
}
.name_link
{
    vertical-align:middle;
    margin-left:10px;
    margin-top:10px;
    
    a{
        text-decoration:none;
        font-weight:bold;
    }
    a:visited{
        color:blue;
    }
}
.profile_image
{
    border:1px solid red;
}

.change_image{
    visibility:visible;
    position:relative;
    margin:0px;
    padding:0px;
    color:red;
    text-align:center;
    cursor:pointer;
}
.post_comment_child {
    width:600px;
    min-height:60px;
    margin-bottom:10px;
    margin-top:10px;
}
.post_comment{
    display:table-cell;
    border-bottom:1px solid #CCCCCC;
   float:left;
}

.name_link_post {
    vertical-align:middle;
    margin-left:10px;

    a{
        text-decoration:none;
        font-weight:bold;
        
    }
    a:visited{
        color:blue;
    }
     span{
        margin-right:10px;
        a{
            font-weight:normal;
        }
    }
}

.wrap{
    border: 0 none;
    padding: 5px !important;
    .innerWrap{
    }
}